APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:etL3AVF6CnwQg31e72f4o1VgLwCNSVgcUz6h4p8vGDk=
APP_DEBUG=true
APP_URL=http://localhost

MIX_UNSPLASH_CLIENT_ID=
MIX_S3_BUCKET=
MIX_S3_REGION=
MIX_S3_ACCESS_KEY_ID=
MIX_S3_SECRET_ACCESS_KEY=

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=aa19tke75k2s9ra.crguqck3kfxo.us-east-2.rds.amazonaws.com
DB_PORT=3306
DB_DATABASE=ebdb
DB_USERNAME=root
DB_PASSWORD=rootPassword

COMPOSER_HOME=/

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
