body{
    font-family: 'Muli', sans-serif;
}

.bg-dark,
.bg-dark-500{
    background: #050505;
}

.bg-dark-100{
    background: #424242;
}

.bg-dark-200{
    background: #303030;
}

.bg-dark-300{
    background: #212121;
}

.bg-dark-400{
    background: #181818;
}